---
// import { ThemeToggle } from "@/components/theme-toggle";
import { footerLinks, siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
// import SubscribeForm from "@/components/forms/subscribe-form";
import { MailIcon } from "lucide-react";
import { Logo } from "../logo";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<footer class={cn("border-t", className)}>
  <div
    class="container grid grid-cols-1 gap-6 py-14 sm:grid-cols-2 md:grid-cols-5"
  >
    {
      footerLinks.map((section) => (
        <div>
          <span class="text-foreground text-sm font-medium">
            {section.title}
          </span>
          <ul class="mt-4 list-inside space-y-2">
            {section.items?.map((link) => (
              <li>
                <a
                  href={link.href}
                  class="text-muted-foreground hover:text-primary text-sm"
                >
                  {link.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
    <div class="flex flex-col items-end md:col-span-2">
      <div class="w-full">
        <Logo className="mb-10 size-12" />
        <h3 class="text-start">
          In consectetur fugiat nostrud laborum excepteur do.
        </h3>
        <p class="text-muted-foreground text-start text-sm">
          minim culpa sunt voluptate pariatur magna tempor ut irure nostrud
          ullamco non
        </p>

        <a
          href="mailto:contact@lucidforms.dev"
          class="text-muted-foreground mt-2 flex items-center gap-2 text-sm"
        >
          <MailIcon className="size-4" />
          contact@lucidforms.co
        </a>
      </div>
    </div>
  </div>

  <div class="border-t py-4">
    <div class="container flex items-center justify-between">
      <!-- <span class="text-muted-foreground text-sm">
        Copyright &copy; 2024. All rights reserved.
      </span> -->
      <p class="text-muted-foreground text-left text-sm">
        Built by{" "}
        <a
          href="https://kohi.studio"
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          Kohi studio
        </a>
      </p>

      <div class="flex items-center gap-3">
        <a
          href={siteConfig.links.github}
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          <Icon name="github" class="size-5" />
        </a>
        <!-- <ThemeToggle client:load /> -->
      </div>
    </div>
  </div>
</footer>
