---
import Image from "astro/components/Image.astro";
import aboutImg from "@assets/images/blog/business-team-using-ai-dashboard.jpg";
import aboutImg2 from "@assets/images/blog/businesspeople-celebrating-success.jpg";
import { Button } from "../ui/button";
---

<section class="relative py-24">
  <div class="mx-auto w-full max-w-7xl px-4 md:px-5 lg:px-5">
    <div
      class="grid w-full grid-cols-1 items-center justify-start gap-12 lg:grid-cols-2"
    >
      <div
        class="order-last grid w-full grid-cols-1 items-start justify-center gap-6 sm:grid-cols-2 lg:order-first"
      >
        <div
          class="flex items-start justify-start gap-2.5 pt-24 sm:justify-end lg:justify-center"
        >
          <Image
            class="rounded-xl object-cover"
            src={aboutImg2}
            alt="about Us image"
          />
        </div>
        <Image
          class="ml-auto rounded-xl object-cover sm:ml-0"
          src={aboutImg}
          alt="about Us image"
        />
      </div>
      <div
        class="inline-flex w-full flex-col items-center justify-center gap-10 lg:items-start"
      >
        <div class="flex w-full flex-col items-start justify-center gap-8">
          <div
            class="flex w-full flex-col items-center justify-start gap-3 lg:items-start"
          >
            <h2
              class="font-manrope text-center text-4xl leading-normal font-bold lg:text-start"
            >
              Empowering Each Other to Succeed
            </h2>
            <p
              class="text-center text-base leading-relaxed font-normal lg:text-start"
            >
              Every project we've undertaken has been a collaborative effort,
              where every person involved has left their mark. Together, we've
              not only constructed buildings but also built enduring connections
              that define our success story.
            </p>
          </div>
          <div
            class="inline-flex w-full items-center justify-center gap-5 sm:gap-10 lg:justify-start"
          >
            <div class="inline-flex flex-col items-start justify-start">
              <h3
                class="font-manrope text-4xl leading-normal font-bold text-gray-900"
              >
                33+
              </h3>
              <h6 class="text-base leading-relaxed font-normal">
                Years of Experience
              </h6>
            </div>
            <div class="inline-flex flex-col items-start justify-start">
              <h4
                class="font-manrope text-4xl leading-normal font-bold text-gray-900"
              >
                125+
              </h4>
              <h6 class="text-base leading-relaxed font-normal">
                Successful Projects
              </h6>
            </div>
            <div class="inline-flex flex-col items-start justify-start">
              <h4
                class="font-manrope text-4xl leading-normal font-bold text-gray-900"
              >
                52+
              </h4>
              <h6 class="text-base leading-relaxed font-normal text-gray-500">
                Happy Clients
              </h6>
            </div>
          </div>
        </div>
        <a href="/">
          <Button>Learn more</Button>
        </a>
      </div>
    </div>
  </div>
</section>
