---
import Footer from "@/components/layout/footer.astro";
import Header from "@/components/layout/header.astro";
import { MainNavigationMenu } from "@/components/nav/main-navigation-menu";
import { cn } from "@/lib/utils";
import BaseLayout from "./base-layout.astro";
import { SheetMobileNav } from "@/components/layout/sheet-mobile-nav";
import { siteConfig } from "@/config/site";

import { buttonVariants } from "@/components/ui/button";

type Props = {
  title: string;
  description?: string;
  mainClass?: string;
  frontmatter?: { title: string };
};

const { title, description, mainClass, frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter?.title || title} description={description}>
  <Header className="border-b">
    <!-- if use Navigation Menu on desktop -->
    <MainNavigationMenu slot="left-header" client:load />
    <SheetMobileNav slot="mobile-nav-header" client:load />

    <div class="flex items-center gap-x-8" slot="right-header">
      <div class="lg:flex justify-center gap-3 hidden items-center flex-row">
        <a
          class={cn(buttonVariants({ variant: "outline", size: "sm" }))}
          href={`${siteConfig.appUrl}/login`}>Login</a
        >
        <a
          class={cn(buttonVariants({ variant: "default", size: "sm" }))}
          href={`${siteConfig.appUrl}/signup`}
        >
          Get started &nbsp; &rarr;
        </a>
      </div>
    </div>
  </Header>

  <main class={cn(mainClass)}>
    <slot />
  </main>

  <Footer />
</BaseLayout>
